
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    background: #050505;
    color: white;
    overflow-x: hidden;
}

.custom-navbar{
    background: rgba(0,0,0,0.7) !important;
    backdrop-filter: blur(10px);
    padding: 18px 0;
    border-bottom: 1px solid rgba(255,255,255,0.08);
    animation: slideDown 0.8s ease forwards;
    transition: all 0.4s ease;
}
@keyframes slidedown{
    from{
        transform:translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.navbar-brand{
    color: #d4af37 !important;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 5px;
}

.nav-link{
    color: #d1d1d1 !important;
    font-weight: 500;
    position: relative;
    transition: 0.3s;
}

.nav-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: #d4af37;
    transition: 0.3s;
}

.nav-link:hover::after{
    width: 100%;
}

.nav-link:hover{
    color: #d4af37 !important;
}

.hero-section{
    min-height: 100vh;
    background:
    linear-gradient(to right,
    rgba(0,0,0,0.85),
    rgba(0,0,0,0.45)),
    url("images/Bugatti\ Veyron,\ Luxury\ at\ lightspeed\ _@bugatti….jfif");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 100px 0;
}

.text-accent{
    color: #d4af37;
}

.small-tracking{
    letter-spacing: 4px;
    font-size: 0.85rem;
}

.hero-section h1{
    font-size: 5rem;
    line-height: 1.1;
    font-weight: 800;
}

.hero-section .lead{
    max-width: 650px;
    font-size: 1.1rem;
    color: #cfcfcf !important;
}


.btn-luxury{
    background: linear-gradient(135deg,#d4af37,#f7d774);
    color: black;
    padding: 14px 34px;
    border-radius: 50px;
    font-weight: 700;
    border: none;
    transition: 0.4s;
    text-decoration: none;
}

.btn-luxury:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(212,175,55,0.4);
}

.btn-outline-luxury{
    border: 1px solid #d4af37;
    color: #d4af37;
    padding: 14px 34px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.4s;
}

.btn-outline-luxury:hover{
    background: #d4af37;
    color: black;
}


.preview-section{
    background: #474545;
}

.image-wrapper{
    overflow: hidden;
    border-radius: 25px;
    position: relative;
}

.custom-img{
    width: 100%;
    border-radius: 25px;
    transition: 0.5s;
     height: 500px;
       object-fit: cover;
      transition: 0.4s ease;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);  
}

.image-wrapper:hover .custom-img{
    transform: scale(1.06);
}

.preview-section h2{
    font-weight: 700;
}

.preview-section p{
    color: #aaa;
    line-height: 1.8;
}


.showcase-grid-section{
    background: #393737;
}

.car-card{
    background: linear-gradient(180deg,#101010,#3f3d3d);
    border-radius: 22px;
    overflow: hidden;
    transition: 0.4s ease;
    border: 1px solid rgba(255,255,255,0.06);
    height: 100%;
}

.car-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(212,175,55,0.15);
}

.car-img-container{
    position: relative;
    overflow: hidden;
}

.car-img-container img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    transition: 0.5s;
}

.car-card:hover img{
    transform: scale(1.08);
}

.car-badge{
    position: absolute;
    top: 18px;
    right: 18px;
    background: #d4af37;
    color: rgb(67, 64, 64);
    padding: 7px 18px;
    border-radius: 40px;
    font-size: 0.75rem;
    font-weight: 700;
}

.car-details{
    padding: 24px;
}

.car-title{
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 12px;
}

.car-details span{
    line-height: 1.8;
}

footer{
    background: #000;
    color: #eaeaea;
}
footer h5,
footer h6{
    letter-spacing: 2px;
    color: #ffffff;
}
.text-accent{
    color: #d4af37;
}
.social-icon-link{
    width: 52px;
    height: 52px;
    border: 1px solid rgba(212,175,55,0.4);
    font-size: 1.4rem;
    color: #d4af37;
    border-radius: 50%;
    background: rgba(255,255,255,0.08);
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icon-link img{
    width: 20px;
    height: 24px;
}

.social-icon-link:hover{
    color: #000;
    background: #e2e1dd;
}

@media(max-width:992px){

    .hero-section{
        text-align: center;
    }

    .hero-section h1{
        font-size: 3.8rem;
    }

    .hero-section .lead{
        margin: auto;
    }
}

@media(max-width:768px){

    .hero-section{
        padding: 120px 20px;
    }

    .hero-section h1{
        font-size: 2.8rem;
    }

    .btn-luxury,
    .btn-outline-luxury{
        display: block;
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }

    .car-img-container img{
        height: 230px;
    }
}
@media(max-width:576px){

    .navbar-brand{
        font-size: 1.5rem;
    }

    .hero-section h1{
        font-size: 2.2rem;
    }

    .small-tracking{
        font-size: 0.7rem;
    }

    .car-details{
        text-align: center;
    }
}
.search-box input{
    border-radius: 20px;
}
.search-btn{
    border-radius: 50%;
    background: #7b6e46;
    width: 40px;
    border: none;
    height: 40px;
    position: relative;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bi-instagram,
.bi-whatsapp{
    font-size: 24px;
    margin: 10px;
    color: white;
}
.bi-whatsapp{
    color: #25D366;
    font-size: 24px;
}
.bi-instagram{
    color: #C13584;
    font-size: 24px;
}.bi-facebook{
    color: #1877F2;
    font-size: 22px;
}
.bi-youtube{
    color: #FF0000;
    font-size: 22px;
}
.thumbnail-gallery{
    margin-top: 15px;
}
.thumb-img{
    width: 110px;
    height: 80px;
    object-fit: cover;
    border-radius: 14px;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}
.thumb-img:hover{
    opacity: 1;
    transform: translateY(-5px) scale(1.03);
}
.active-thumb{
    opacity: 1;
    border: 2px solid #c9a86a;
     box-shadow: 0 0 15px rgba(201,168,106,0.5);
}
